* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: planewalker;
  src: url(planewalker.woff);
}

.container {
  display: flex;
  flex-direction: row;
}

.side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
 
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20vh;
  padding: 5vh 0 5vh 0;
  width: 100%;
}

.logo_img {
  width: 6vw;
  height: 11vh;
  padding-top: 1.5vh;
}

.logo_text {
  font-family: planewalker;
  font-size: 7rem;
}

.footer_1 {
  color: white;
  font-size: 1rem;
  padding-bottom: 1vh;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #e0e0e0;
  flex: 1;
  
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15vh 10vw 5vh 2vw;
}

form {
  padding: 2vh 10vw 3vh 2vw;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

form p {
  font-size: 1.5rem;
  font-weight: bold;
}

.input_row {
  display: flex;
  gap: 5vw;
}

.input_item {
  display: flex;
  flex-direction: column;
}

input {
  width: 15vw;
  height: 3vh;
  border: 2px solid grey;
  border-radius: 5px;
  background-color:transparent;
  
  outline: none;
}



input:focus {
  border: 2px solid #0486c2;
  box-shadow: 0 0 3px 1px #227755;
}

.error {
  border: 2px solid red;
}

input:invalid {
  border: 2px solid red;
}

span {
  font-size: 0.9rem;
  color: red;
}

.invis {
  display: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button[type="submit"] {
  color: white;
  background-color: #0486c2;
  border-radius: 5px;
  width: 10vw;
}

.sign-up {
  flex: 1;
  padding-left: 2vw;
  padding-top: 2vh;
  margin-bottom: -8vh;
  background-color: #e0e0e0;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button[type="submit"] {
  color: white;
  background-color: #0486c2;
  border-radius: 5px;
  width: 12vw;
  height: 6vh;
 font-size: 1.2rem;
  font-weight: bold; 
}

.sign-in {
  flex: 1;
  padding-left: 2vw;
  font-size: 1.2rem;
  background-color: #e0e0e0;
}

a:link {
  color: #0486c2;
}

a:visited {
  color: #0486c2;
}